@font-face {
	font-family: 'iconfont';
	src:url('iconfont.eot?-977u7o');
	src:url('iconfont.eot?#iefix-977u7o') format('embedded-opentype'),
		url('iconfont.woff?-977u7o') format('woff'),
		url('iconfont.ttf?-977u7o') format('truetype'),
		url('iconfont.svg?-977u7o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e600";
}
.icon-arrow-back:before {
	content: "\e601";
}
.icon-arrow-forward:before {
	content: "\e602";
}
.icon-caret-down:before {
	content: "\e603";
}
.icon-caret-left:before {
	content: "\e604";
}
.icon-caret-right:before {
	content: "\e605";
}
.icon-caret-up:before {
	content: "\e606";
}
.icon-check-box:before {
	content: "\e607";
}
.icon-check-box-blank:before {
	content: "\e608";
}
.icon-close:before {
	content: "\e609";
}
.icon-delete:before {
	content: "\e60a";
}
.icon-done:before {
	content: "\e60b";
}
.icon-export:before {
	content: "\e60c";
}
.icon-file-download:before {
	content: "\e60d";
}
.icon-firefox:before {
	content: "\e60e";
}
.icon-fullscreen:before {
	content: "\e60f";
}
.icon-fullscreen-exit:before {
	content: "\e610";
}
.icon-github:before {
	content: "\e611";
}
.icon-home:before {
	content: "\e612";
}
.icon-info:before {
	content: "\e613";
}
.icon-mail:before {
	content: "\e614";
}
.icon-menu:before {
	content: "\e615";
}
.icon-more-vert:before {
	content: "\e616";
}
.icon-post-facebook:before {
	content: "\e617";
}
.icon-post-gplus:before {
	content: "\e618";
}
.icon-post-twitter:before {
	content: "\e619";
}
.icon-radio-button-off:before {
	content: "\e61a";
}
.icon-radio-button-on:before {
	content: "\e61b";
}
.icon-remove:before {
	content: "\e61c";
}
.icon-search:before {
	content: "\e61d";
}
.icon-settings:before {
	content: "\e61e";
}
.icon-share:before {
	content: "\e61f";
}
.icon-video-youtube:before {
	content: "\e620";
}
