@import url(fonts.css);

@mixin vendor($a, $v) {
  -webkit-#{$a}: $v;
  -moz-#{$a}: $v;
  -ms-#{$a}: $v;
  -o-#{$a}: $v;
  #{$a}: $v;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @keyframes $name { @content };
}

@mixin clearfix() {
  content: "";
  clear: both;
  display: table;
}

$color-alpha: #2ecc71;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  @include vendor(box-sizing, border-box);
}

html, body {
  // height: 100%; // Problems with fullscreen mode
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  &.write {
    display: block;
  }
  &.manage {
  }
}

body {
  font-size: 18px;
  font-family: 'Fira Mono', sans-serif;
}

.maxdown-light {
  background-color: #fff;
  color: #000;
}
.maxdown-dark {
  background-color: #1a1a1a;
  color: #fff;
}

.btn-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 95px;
  height: 95px;
  cursor: pointer;
  z-index: 0;
  line-height: 95px;
  text-align: center;
  font-size: 1.5em;
  opacity: 0.2;
}

.navbar-spacer {
  position: relative;
  width: 100%;
  height: 50px;
}

.main-nav {
  width: 100%;
  max-width: 380px;
  height: 100%;
  position: fixed;
  z-index: 90;
  padding: 0 35px;
  top: 0;
  right: 0;
  background-color: $color-alpha;
  display: none;
  color: #fff;
  &.active {
    .main-nav-toggle {

    }
  }
  .main-nav-toggle {
    display: none;
  }
  .btn-new-document {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 95px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    padding: 0 35px;
    font-family: 'Fira Sans', sans-serif;
    @include vendor(transition, all .3s ease);
    span {
      font-weight: bold;
    }
    &:hover {
      background-color: darken(#2ecc71, 5%);
    }
  }
  .actions {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 95px;
    > div {
      display: block;
      float: left;
      cursor: pointer;
      width: 25%;
      height: 95px;
      text-align: center;
      line-height: 95px;
      font-size: 1.5em;
      cursor: pointer;
      @include vendor(transition, all .3s ease);
      &.inactive {
        color: rgba(#fff, 0.35);
        cursor: not-allowed;
      }
      &:hover {
        background-color: darken(#2ecc71, 5%);
      }
    }
  }
  .documents {
    overflow-y: scroll;
    position: absolute;
    top: 95px;
    left: 35px;
    right: 35px;
    bottom: 95px;
    padding-top: 1em;
    padding-bottom: 1em;
    .document {
      position: relative;
      .btn-delete-document {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1em;
        color: #fff;
        opacity: 0.2;
        cursor: pointer;
        z-index: 0;
        &:hover {
          opacity: 1;
        }
      }
      input {
        width: 100%;
        background-color: $color-alpha;
        color: #ffffff;
        border-bottom: 2px solid #ffffff;
        font-size: 1em;
        font-family: 'Fira Mono', sans-serif;
        font-weight: bold;
        display: none;
      }
      span {
        cursor: pointer;
        display: block;
        width: calc(100% - 1em);
      }
      .headlines {
        display: none;
        font-size: 0.85em;
        color: #fff;
        margin-top: .5em;
        .headline {
          cursor: pointer;
          padding: .5em 0 .5em 4.055em;
          &:before {
            position: absolute;
            left: 0;
            width: 55px;
            text-align: right;
            opacity: 0.7;
          }
          &.headline-1 {
            &:before {
              content: "#";
            }
          }
          &.headline-2 {
            &:before {
              content: "##";
            }
          }
          &.headline-3 {
            &:before {
              content: "###";
            }
          }
          &.headline-4 {
            &:before {
              content: "####";
            }
          }
          &.headline-5 {
            &:before {
              content: "#####";
            }
          }
          &.headline-6 {
            &:before {
              content: "######";
            }
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      &.active {
        span {
          font-weight: bold;
        }
        .headlines {
          display: block;
        }
      }
      &+.document {
        margin-top: .8em;
      }
    }
  }
}

.editor {
  width: 100%;
  max-width: 800px;
  padding: 60px 20px;
  margin: 0 auto;
}

.save-info {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  text-align: center;
  width: 58px;
  line-height: 48px;
  color: #2ecc71;
  &:before {
    @include vendor(animation, spin 1s infinite linear);
  }
}

@include keyframes("spin") {
  to {
    @include vendor(transform, rotate(360deg));
  }
};

/*
 * Manage Section
 */
.manage {
  background-color: #f2f2f2;
  font-family: sans-serif;
  a {
    color: #2ECC71;
    text-decoration: none;
  }
  p {
    &+p {
      margin-top: 0.5em;
    }
  }
  .app-bar {
    background-color: $color-alpha;
    width: 100%;
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 95px;
    z-index: 1;
    color: #fff;
    font-size: 1.5em;
    .app-bar-wrapper {
      width: 100%;
      max-width: 780px;
      padding: 0 20px;
      margin: 0 auto;
    }
    .btn-manage-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 95px;
      height: 95px;
      cursor: pointer;
      text-align: center;
      @include vendor(transition, all .3s ease);
      &:hover {
        background-color: darken($color-alpha, 5%);
      }
    }
  }
  .app-bar-spacer {
    position: relative;
    width: 100%;
    height: 95px;
    z-index: 0;
  }
  .tab {
    width: 100%;
    max-width: 780px;
    padding: 60px 20px;
    margin: 0 auto;
    display: none;
    &.active {
      display: block;
    }
    .box {
      background-color: #fff;
      padding: 2em;
      h2 {
        text-transform: uppercase;
        font-size: 1.2em;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1em;
      }
      &+.box {
        margin-top: 2em;
      }
    }
  }
}

.theme-radio {
  input {
    display: none;
    &:checked {
      &+label {
        &:before {
          content: "\e607";
        }
      }
    }
  }
  label {
    cursor: pointer;
    &:before {
      content: "\e608";
      font-family: 'iconfont';
      color: #2ECC71;
      margin-right: 1em;
    }
  }
  &+.theme-radio {
    margin-top: 0.5em;
  }
  &+* {
    margin-top: 1em;
  }
}

.btn-install, .btn-delete-all, .btn-dropbox-oauth {
  color: #2ECC71;
  cursor: pointer;
}

/*
 * Preview
 */

.preview {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  color: rgba(#000, 0.8);
  line-height: 1.4;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
  }
  h1 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.2;
    margin: 2.5em 0 1.25em 0;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 2.5em 0 1.25em 0;
  }
  h3 {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0.909em 0;
  }
  h4 {
    font-size: 1em;
    font-weight: 500;
    margin: 1em 0;
  }
  h5 {
    font-size: 1em;
    font-weight: 400;
    margin: 1em 0;
  }
  h6 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 1.111em 0;
  }
  p {
    margin-bottom: 1em;
    line-height: 1.6;
  }
  ul, ol {
    font-family: 'Merriweather Sans', sans-serif;
    list-style: none;
    margin: 2em 0;
    padding: 0 0 0 1em;
    ul, ol {
      margin: 1em 0;
    }
    li {
      position: relative;
      &+li {
        margin-top: 1em;
      }
    }
  }
  ul {
    > li {
      &:before {
        content: "●";
        position: absolute;
        left: 0;
        transform: translateX(-150%);
      }
    }
  }
  ol {
    counter-reset: items;
    > li {
      counter-increment: items;
      &:before {
        content: counter(items) ".";
        position: absolute;
        left: 0;
        transform: translateX(-150%);
      }
    }
  }
  hr {
    width: 33.33%;
    height: 2px;
    margin: 4em auto;
    background-color: darken(#f2f2f2, 10%);
  }
  code {
    font-family: 'Fira Mono', monospace;
    background-color: darken(#f2f2f2, 10%);
    display: block;
    padding: 1em;
  }
  blockquote {
    p {
      font-style: italic;
      color: rgba(#000, 0.6);
      margin: 1.818em 0 2.727em 0;
      padding: 0 1.818em;
      font-size: 1.1em;
      &:before {
        content: "“";
      }
      &:after {
        content: "”";
      }
    }
  }
}