@import url(../fonts/fira-mono/fira-mono.css);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

@mixin vendor($a, $v) {
  -webkit-#{$a}: $v;
  -moz-#{$a}: $v;
  -ms-#{$a}: $v;
  -o-#{$a}: $v;
  #{$a}: $v;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @keyframes $name { @content };
}

@mixin clearfix() {
  content: "";
  clear: both;
  display: table;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  @include vendor(box-sizing, border-box);
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: 'Fira Mono', sans-serif;
  &.maxdown-light {
    background-color: #fff;
    color: #000;
    .btn-menu {
      .stripes {
        background-color: #000;
        &:before, &:after {
          background-color: #000;
        }
      }
      &.active {
        .stripes {
          background-color: #fff;
        }
      }
    }
    .main-nav {
      .documents {
        &::-webkit-scrollbar {
          background-color: #fff;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(#000, .1);
        }
        .document {
          .btn-delete-document {
            color: #ddd;
            &:hover {
              color: #000;
            }
          }
        }
      }
      &.active {
        background-color: #fff;
      }
    }
  }
  &.maxdown-dark {
    background-color: #1a1a1a;
    color: #fff;
    .btn-menu {
      .stripes {
        background-color: #fff;
        &:before, &:after {
          background-color: #fff;
        }
      }
      &.active {
        .stripes {
          background-color: #1a1a1a;
        }
      }
    }
    .main-nav {
      .documents {
        &::-webkit-scrollbar {
          background-color: #000;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(#fff, .25);
        }
        .document {
          .btn-delete-document {
            color: #666;
            &:hover {
              color: #fff;
            }
          }
        }
      }
      &.active {
        background-color: #1a1a1a;
      }
    }
  }
}

.navbar {
  width: 100%;
  height: 50px;
  line-height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0 20px;
  z-index: 100;
  .title {
    position: absolute;
    padding: 0 20px;
    top: 0;
    left: 0;
    span {
      position: relative;
      z-index: 0;
    }
    input {
      position: absolute;
      font-size: 1em;
      font-family: 'Fira Mono', sans-serif;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #dfd;
      display: none;
    }
  }
  .actions {
    position: absolute;
    padding: 0 20px;
    top: 0;
    left: 0;
    display: none;
  }
}

.btn-theme {
  cursor: pointer;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  &.maxdown-light {
    border: 2px solid #000;
  }
  &.maxdown-dark {
    border: 2px solid #fff;
  }
}

.btn-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 58px;
  height: 48px;
  cursor: pointer;
  z-index: 100;
  .stripes {
    width: 18px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 50%;
    left: 50%;
    @include vendor(transform, translate3d(-50%, -50%, 0));
    &:before, &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      @include vendor(transition, transform .3s ease);
    }
    &:before {
      @include vendor(transform, translateY(-250%) rotate(0deg));
    }
    &:after {
      @include vendor(transform, translateY(250%) rotate(0deg));
    }
  }
  &.active {
    .stripes {
      background-color: #fff;
      &:before {
        @include vendor(transform, translateY(0%) rotate(45deg));
      }
      &:after {
        @include vendor(transform, translateY(0%) rotate(-45deg));
      }
    }
  }
}

.navbar-spacer {
  position: relative;
  width: 100%;
  height: 50px;
}

.main-nav {
  width: 100%;
  max-width: 360px;
  height: 100%;
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  display: none;
  &.active {
    .main-nav-toggle {

    }
  }
  .main-nav-toggle {
    display: none;
  }
  .btn-new-document {
    line-height: 48px;
    cursor: pointer;
    span {
      font-weight: bold;
      color: #2ecc71;
    }
  }
  .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    line-height: 48px;
    > div {
      display: inline-block;
      cursor: pointer;
    }
  }
  .documents {
    overflow-y: scroll;
    position: absolute;
    top: 48px;
    left: 0px;
    right: 0px;
    bottom: 48px;
    border-top: 2px dotted #ddd;
    border-bottom: 2px dotted #ddd;
    padding-top: 1em;
    padding-bottom: 1em;
    &::-webkit-scrollbar {
      background-color: #fff;
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(#000, .1);
      border-radius: 2px;
    }
    .document {
      position: relative;
      .btn-delete-document {
        position: absolute;
        top: 0;
        right: .5em;
        font-size: 1em;
        color: #ddd;
        cursor: pointer;
        z-index: 0;
        &:hover {
          color: #000;
        }
      }
      input {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #dfd;
        font-size: 1em;
        font-family: 'Fira Mono', sans-serif;
        font-weight: bold;
        display: none;
      }
      span {
        cursor: pointer;
        display: block;
      }
      .headlines {
        display: none;
        font-size: .75em;
        color: #999;
        padding-left: 1em;
        .headline {
          cursor: pointer;
          &.headline-1 {
            &:before {
              content: "#";
            }
          }
          &.headline-2 {
            &:before {
              content: "##";
            }
          }
          &.headline-3 {
            &:before {
              content: "###";
            }
          }
        }
      }
      &.active {
        span {
          font-weight: bold;
        }
        .headlines {
          display: block;
        }
      }
      &+.document {
        margin-top: .5em;
      }
    }
  }
}

.editor {
  width: 100%;
  max-width: 740px;
  padding: 60px 20px;
  margin: 0 auto;
}

.save-info {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  text-align: center;
  width: 58px;
  line-height: 48px;
  color: #2ecc71;
  @include vendor(animation, spin 1s infinite linear);
}

@include keyframes("spin") {
  to {
    @include vendor(transform, rotate(360deg));
  }
};