@import url(../fonts/fira-mono/fira-mono.css); // 300, 400, 600
@import url(../fonts/iconfont/iconfont.css);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

@mixin vendor($a, $v) {
  -webkit-#{$a}: $v;
  -moz-#{$a}: $v;
  -ms-#{$a}: $v;
  -o-#{$a}: $v;
  #{$a}: $v;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @keyframes $name { @content };
}

@mixin clearfix() {
  content: "";
  clear: both;
  display: table;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  @include vendor(box-sizing, border-box);
}

html, body {
  // height: 100%; // Problems with fullscreen mode
}

body {
  font-size: 18px;
  font-family: 'Fira Mono', sans-serif;
  &.maxdown-light {
    background-color: #fff;
    color: #000;
    .btn-menu {
      .stripes {
        background-color: #000;
        &:before, &:after {
          background-color: #000;
        }
      }
      &.active {
        .stripes {
          background-color: #fff;
        }
      }
    }
    .main-nav {
      .documents {
        &::-webkit-scrollbar {
          background-color: #fff;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(#000, .1);
        }
        .document {
          .btn-delete-document {
            color: #000;
          }
          input {
            background-color: #fff;
            color: #000;
          }
          .headlines {
            color: #000;
          }
        }
      }
      &.active {
        background-color: #fff;
      }
    }
  }
  &.maxdown-dark {
    background-color: #1a1a1a;
    color: #fff;
    .btn-menu {
      .stripes {
        background-color: #fff;
        &:before, &:after {
          background-color: #fff;
        }
      }
      &.active {
        .stripes {
          background-color: #1a1a1a;
        }
      }
    }
    .main-nav {
      .documents {
        &::-webkit-scrollbar {
          background-color: #1a1a1a;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(#fff, .25);
        }
        .document {
          .btn-delete-document {
            color: #fff;
          }
          input {
            background-color: #1a1a1a;
            color: #fff;
          }
          .headlines {
            color: #fff;
          }
        }
      }
      &.active {
        background-color: #1a1a1a;
      }
    }
  }
}

.btn-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 100;
  .stripes {
    width: 18px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 50%;
    left: 50%;
    @include vendor(transform, translate3d(-50%, -50%, 0));
    &:before, &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      @include vendor(transition, transform .3s ease);
    }
    &:before {
      @include vendor(transform, translateY(-250%) rotate(0deg));
    }
    &:after {
      @include vendor(transform, translateY(250%) rotate(0deg));
    }
  }
  &.active {
    .stripes {
      background-color: #fff;
      &:before {
        @include vendor(transform, translateY(0%) rotate(45deg));
      }
      &:after {
        @include vendor(transform, translateY(0%) rotate(-45deg));
      }
    }
  }
}

.navbar-spacer {
  position: relative;
  width: 100%;
  height: 50px;
}

.main-nav {
  width: 100%;
  max-width: 360px;
  height: 100%;
  position: fixed;
  z-index: 90;
  padding: 0 20px;
  top: 0;
  right: 0;
  display: none;
  &.active {
    .main-nav-toggle {

    }
  }
  .main-nav-toggle {
    display: none;
  }
  .btn-new-document {
    line-height: 48px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    font-family: 'Fira Sans', sans-serif;
    span {
      font-weight: bold;
      color: #2ecc71;
    }
  }
  .btn-github {
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 48px;
    height: 48px;
    font-size: 1.5em;
    display: block;
    line-height: 48px;
    text-align: center;
    color: currentColor;
    text-decoration: none;
    &:hover {
      background-color: #2ecc71;
      color: #fff;
    }
  }
  .actions {
    position: absolute;
    bottom: 0;
    right: 20px;
    line-height: 48px;
    > div {
      display: block;
      float: left;
      cursor: pointer;
      background-color: transparent;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      font-size: 1.5em;
      cursor: pointer;
      &:hover {
        background-color: #2ecc71;
        color: #fff;
      }
    }
  }
  .documents {
    overflow-y: scroll;
    position: absolute;
    top: 48px;
    left: 20px;
    right: 20px;
    bottom: 48px;
    padding-top: 1em;
    padding-bottom: 1em;
    &::-webkit-scrollbar {
      background-color: #fff;
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(#000, .1);
      border-radius: 2px;
    }
    .document {
      position: relative;
      .btn-delete-document {
        position: absolute;
        top: 0;
        right: .5em;
        font-size: 1em;
        color: #000;
        opacity: 0.2;
        cursor: pointer;
        z-index: 0;
        &:hover {
          opacity: 1;
        }
      }
      input {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        color: #000;
        border-bottom: 2px solid #2ecc71;
        font-size: 1em;
        font-family: 'Fira Mono', sans-serif;
        font-weight: bold;
        display: none;
      }
      span {
        cursor: pointer;
        display: block;
      }
      .headlines {
        display: none;
        font-size: 0.85em;
        color: #000;
        margin-top: .5em;
        .headline {
          cursor: pointer;
          padding: .5em 0;
          &:before {
            position: absolute;
            left: 0;
          }
          &.headline-1 {
            opacity: 0.8;
            padding-left: 1em;
            &:before {
              content: "#";
            }
          }
          &.headline-2 {
            opacity: 0.6;
            padding-left: 1.611em;
            &:before {
              content: "##";
            }
          }
          &.headline-3 {
            opacity: 0.4;
            padding-left: 2.222em;
            &:before {
              content: "###";
            }
          }
          &.headline-4 {
            opacity: 0.4;
            padding-left: 2.833em;
            &:before {
              content: "####";
            }
          }
          &.headline-5 {
            opacity: 0.4;
            padding-left: 3.444em;
            &:before {
              content: "#####";
            }
          }
          &.headline-6 {
            opacity: 0.4;
            padding-left: 4.055em;
            &:before {
              content: "######";
            }
          }
        }
      }
      &.active {
        span {
          font-weight: bold;
        }
        .headlines {
          display: block;
        }
      }
      &+.document {
        margin-top: .8em;
      }
    }
  }
}

.editor {
  width: 100%;
  max-width: 740px;
  padding: 60px 20px;
  margin: 0 auto;
}

.save-info {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  text-align: center;
  width: 58px;
  line-height: 48px;
  color: #2ecc71;
  &:before {
    @include vendor(animation, spin 1s infinite linear);
  }
}

@include keyframes("spin") {
  to {
    @include vendor(transform, rotate(360deg));
  }
};