@import url(../fonts/fira-mono/fira-mono.css); /* 300, 400, 600 */
@import url(../fonts/iconfont/iconfont.css);

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans'), local('FiraSans-Light'), url(../fonts/Fira_Sans/FiraSans-Light.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans'), local('FiraSans-Light'), url(../fonts/Fira_Sans/FiraSans-LightItalic.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url(../fonts/Fira_Sans/FiraSans-Italic.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans'), local('FiraSans-Medium'), url(../fonts/Fira_Sans/FiraSans-Medium.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans'), local('FiraSans-Medium'), url(../fonts/Fira_Sans/FiraSans-MediumItalic.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans'), local('FiraSans-Bold'), url(../fonts/Fira_Sans/FiraSans-Bold.ttf);
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans'), local('FiraSans-Bold'), url(../fonts/Fira_Sans/FiraSans-BoldItalic.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather'), url(../fonts/Merriweather/Merriweather-Light.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local('Merriweather'), url(../fonts/Merriweather/Merriweather-LightItalic.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather'), url(../fonts/Merriweather/Merriweather-Italic.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather'), url(../fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather'), url(../fonts/Merriweather/Merriweather-BoldItalic.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather'), url(../fonts/Merriweather/Merriweather-Black.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather'), url(../fonts/Merriweather/Merriweather-HeavyItalic.ttf);
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Sans'), url(../fonts/Merriweather_Sans/MerriweatherSans-Light.ttf);
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Merriweather Sans'), url(../fonts/Merriweather_Sans/MerriweatherSans-LightItalic.ttf);
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans'), url(../fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Sans'), url(../fonts/Merriweather_Sans/MerriweatherSans-Italic.ttf);
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Sans'), url(../fonts/Merriweather_Sans/MerriweatherSans-Bold.ttf);
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Sans'), url(../fonts/Merriweather_Sans/MerriweatherSans-BoldItalic.ttf);
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Merriweather Sans'), url(../fonts/Merriweather_Sans/MerriweatherSans-ExtraBold.ttf);
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Merriweather Sans'), url(../fonts/Merriweather_Sans/MerriweatherSans-ExtraBoldItalic.ttf);
}