.CodeMirror.cm-s-maxdown-light {
  font-size: 22px;
  font-family: 'Fira Mono', sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.6;
  height: auto;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 4px solid #2ecc71;
}

.CodeMirror div.CodeMirror-selected {
  background-color: #2ecc71;
  opacity: 0.2;
}

.cm-header-1 {
  font-size: 1.333em;
  opacity: 0.4;
  line-height: 1.2;
  font-weight: 400;
}

.cm-header-2 {
  font-size: 1.111em;
  opacity: 0.4;
  line-height: 1.4;
  font-weight: 400;
}

.cm-header-3 {
  font-size: 1em;
  opacity: 0.4;
  line-height: 1.6;
  font-weight: 400;
}

.cm-quote {
  font-size: 1em;
  opacity: 1;
  line-height: 1.6;
}

.cm-hr {
  opacity: 0.2;
}
.cm-hr:after {
  content: "";
  position: absolute;
  left: 40px;
  right: 40px;
  background-color: #000;
  opacity: 0.2;
  height: 2px;
  top: 50%;
  margin-top: -1px;
}

.cm-link {
  text-decoration: none;
  border-bottom: 2px solid #2ecc71;
}

.cm-formatting.cm-link {
  border: none;
}

.cm-formatting-link-string + .cm-string {
  opacity: 0.2;
}

.cm-formatting {
  opacity: 0.2;
}