.CodeMirror.cm-s-maxdown-light {
  font-size: 18px;
  font-family: 'Fira Mono', sans-serif;
  background-color: #fff;
  color: #000;
  height: auto;
}

.cm-header-1 {
  font-size: 1.333em;
  opacity: 0.4;
  line-height: 1.2;
  font-weight: 400;
}

.cm-header-2 {
  font-size: 1.111em;
  opacity: 0.4;
  line-height: 1.4;
  font-weight: 400;
}

.cm-header-3 {
  font-size: 1em;
  opacity: 0.4;
  line-height: 1.6;
  font-weight: 400;
}

.cm-quote {
  font-size: 1em;
  opacity: 1;
  line-height: 1.6;
}

.cm-hr {
  opacity: 0.2;
}
.cm-hr:after {
  content: "";
  position: absolute;
  left: 40px;
  right: 40px;
  background-color: #000;
  opacity: 0.1;
  height: 2px;
  top: 50%;
  margin-top: -1px;
}

.cm-formatting {
  opacity: 0.2;
}